.fondo{
	height: 200px;
	box-sizing: border-box;
	font-family: $fuente;
	background-color: #142e3f;
	padding: 50px;
	position: relative; top: 20px;
	text-decoration: none;
	text-align: center;

	h1{
	color: white;
	font-size: 2.5em;
	font-weight: lighter;
	margin: 25px;
}

	a{
	font-size: 1.3em;
	color: $color-celeste;
	font-weight: bold;
	text-decoration: none;
}
}


.footer{
	font-family: $fuente;
	background-color: #091722;
	padding: 50px;
	color: white;

	p{
	float: left;
	}

	// ul{
	// display: inline-flex;
 //    float: right;
	// }
	
	li{
	float: right;
	padding-right: 15%;
	padding-left: 15%;
	list-style: none;
	}

	a{
	font-size: 1.3em;
	text-decoration: none;
	color: gray;

	&:hover{
	color: white;
	}
	}
}


.footer-menu{
	display: inline-flex;
    float: right;
}