
 // 1. Mixin círculos de colores

@mixin productos($color){
		a{
		margin: 0 auto;
		width: 80px;
		height: 80px;
		border-radius: 50%;
		display: block;
	    transition: 1.3s ease-in-out;
	    background-color: $color;

	    &:hover{
	transform: scale(1.25);
}
		}

		p{
		color: white;
		font-size: 2.7em;
		position: relative;
		left: 35%;
		top: 32%;
		}
	}

// 2. Mixin textos al lado celular

@mixin caracteristicas($alinear){
		display: inline-block;
		margin-left: 10px;
		text-align: $alinear;
		width: 70%;
		h5{
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: 0.2em;
			font-size: 1.2em;
			padding:10% 0%;
		}
		p{
			color: gray;
			font-size: 1em;
			line-height: 1.3
		}
	}


@mixin precios($color){
	float: right;
	color: $color;
}

