// Fonts
$fuente: 'PT Sans', sans-serif;

// Colors
$color-celeste: #00d7fe;
$color-amarillo: #fed501;
$color-naranja: #ff9456;
$color-rojo: #ff5f3d;
$alinear-izquierda: left;
$alinear-derecha: right;


*, *:before, *:after {
  box-sizing: border-box;
}

.contenedor{
	max-width: 75%;
	margin: 0 auto;
}